@font-face {
    font-family: "Otterco";
    src: url("../font/Otterco-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Otterco";
    src: url("../font/Otterco-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Otterco";
    src: url("../font/Otterco-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Otterco";
    src: url("../font/Otterco-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Otterco";
    src: url("../font/Otterco-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Otterco";
    max-width: 576px;
    margin: 0 auto;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.min-h {
    min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}
p {
    margin-bottom: 0;
}
a {
    text-decoration: none;
}
.bg_blue {
    background-color: #3bafff;
}
.bg_orangedark {
    background-color: #ff8811;
}
.bg_green {
    background-color: #6eb954;
}
.bg_violet {
    background-color: #8f16e0;
}
.bg_light_violet {
    background-color: #f4e8fc;
}
.bg_light_red {
    background-color: #fa5c5b;
}
.border_light_red {
    border-color: #ef4444;
}
.fs_14 {
    font-size: 14px;
}
.gray_shadow_bottom {
    box-shadow: 0px 4px 0px 0px #ebe8e1;
}
.gray_border {
    border: 1px solid #ebe8e1;
}
.bg_warning_light {
    background-color: #ffc488 !important;
}
.bg_gray_light {
    background-color: #faf7f5;
}
.text_blue {
    color: #3bafff;
}
.bg_greenlight {
    background-color: rgb(18 180 95 / 17%);
}
.bg-light-red {
    background-color: rgb(255 100 100 / 19%);
}
.bg_darkcoffe {
    background-color: #321c1c;
}
.bg_lightcoffe {
    background-color: #704b4b;
}
.bg_lightgray {
    background-color: #f2f0ef;
}
.bg_light_warning{
    background-color: #ffeee1;
}
.text_dark_orange{
    color: #FF8811;
}
.bg_light_gray{
    background-color: #E6E6E6;
}
.bg_secondary_light{
    background-color: #F2F0EF;
}
/* Login */
.title_form h1 {
    margin-bottom: 5px;
}

.login_bg_img {
    background-image: url("../image/login_bg.svg");
    padding: 0px 16px;
    padding-top: 28px;
    padding-bottom: 28px;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.vector_img {
    padding-top: 30px;
}
.bg_yellow {
    background-color: #ffcb31;
}
.border_rounded {
    border-radius: 0px 0px 30px 30px;
}
.login_form {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 38px 16px;
    background: white;
    border-bottom: 5px solid #e4e4e4;
    border-radius: 0px 0px 30px 30px;
}
.login_form label {
    font-size: 20px;
}
.iti--allow-dropdown {
    width: 100%;
}
.login_form input {
    padding: 8px 12px;
}

.login_form .form-control:focus {
    border-color: rgba(50, 28, 28, 10%);
}
.login_form input:focus,
.login_form::before {
    /* outline: 2px solid rgba(50, 28, 28, 10%); */
    box-shadow: none !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.forgot {
    font-size: 18px;
    padding-top: 16px;
    color: black;
}
.login_register {
    padding: 40px 16px;
}

.btns {
    padding: 17px 0px;
    border-radius: 12px;
}
.login_btn {
    background-color: #3bafff;
    border: none;
    border-bottom: 5px solid #007acd;
}
.register_btn {
    background-color: #ff8811;
    border: none;
    border-bottom: 5px solid #f17100;
}
/* Register Page */
.row_gap_form {
    row-gap: 23px;
}

.register_bg_img {
    padding: 0px 16px;
    padding-top: 27px;
    padding-bottom: 35px;
    background-image: url("../image/register_bg.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.register_form {
    padding-top: 30px;
    padding-bottom: 35px;
}
.checkbox label {
    font-size: 16px;
}
.checkbox input {
    position: relative;
    border: 3px solid rgba(50, 28, 28, 10%);
    border-radius: 4px;
    background: none;
    cursor: pointer;
    line-height: 0;
    margin: 0 0.6em 0 0;
    outline: 0;
    padding: 0 !important;
    vertical-align: text-top;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
}
.checkbox input[type="checkbox"]:checked {
    background-color: #000000;
    opacity: 1;
    border-color: rgba(50, 28, 28, 10%);
}
.checkbox input[type="checkbox"]:focus,
.checkbox[type="checkbox"]::before {
    border-color: rgba(50, 28, 28, 10%);
    box-shadow: none !important;
    outline: none;
}
.checkbox input[type="checkbox"]:before {
    content: "";
    position: absolute;
    right: 50%;
    top: 50%;
    width: 4px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    margin: -1px 0px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
}

.register_part {
    padding: 30px 16px;
}
/* Forgot */

.forgot_bg_img {
    padding: 0px 16px;
    padding-top: 30px;
    padding-bottom: 35px;
    background-image: url("../image/forgot_bg.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.eye_input {
    height: 100%;
    position: absolute;
    right: 15px;
    transform: translateY(10px);
    top: 0;
}
/* Otp */
.otp_box {
    max-width: 80px;
    width: 100%;
}
/* Home Page */
.blue_bg {
    max-width: 576px;
}
.menu {
    width: 100%;
    max-width: 576px;
    z-index: 99;
}
.header {
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 8px solid #e4e4e4;
    border-radius: 0 0 27px 27px;
}
.logo {
    height: 26px;
}
.bell_icon,
.download_icon {
    height: 22px;
}
.banner {
    padding-top: 110px;
}
.border_round_banner {
    border-bottom: 8px solid #e4e4e4;
    border-radius: 20px;
    overflow: hidden;
}
.bg_cream {
    background-color: #fbf7ef;
    padding-bottom: 90px;
}
.border_dotted {
    background-image: url("../image/dotborder_box.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.box_img {
    min-height: 50px;
}
.bg_item {
    background-color: #f5eeec;
}
.item_box {
    border-bottom: 8px solid #e4e4e4;
    border-radius: 20px;
}
.box {
    width: calc(33.33% - 10px);
}
.wining_card {
    padding: 20px 14px;
}
.blue_gradiant {
    background: rgb(102, 49, 255);
    background: linear-gradient(
        166deg,
        rgba(102, 49, 255, 1) 0%,
        rgba(164, 49, 255, 1) 8%,
        rgba(238, 137, 255, 1) 95%
    );
}
.shyan_gradiant {
    background: rgb(53, 202, 255);
    background: linear-gradient(
        313deg,
        rgba(53, 202, 255, 1) 3%,
        rgba(53, 209, 255, 1) 6%,
        rgba(60, 132, 255, 1) 95%
    );
}
.green_blue_gradiant {
    background: rgb(88, 223, 215);
    background: linear-gradient(
        313deg,
        rgba(88, 223, 215, 1) 3%,
        rgba(84, 227, 219, 1) 6%,
        rgba(115, 248, 174, 1) 96%
    );
}
.pink_gradiant {
    background: rgb(240, 111, 229);
    background: linear-gradient(
        313deg,
        rgba(240, 111, 229, 1) 53%,
        rgba(239, 112, 231, 1) 59%,
        rgba(251, 85, 149, 1) 100%
    );
}
.yellow_gradint {
    background: rgb(252, 221, 70);
    background: linear-gradient(
        313deg,
        rgba(252, 221, 70, 1) 31%,
        rgba(251, 63, 63, 1) 100%
    );
}
/* Footer Menu */
.foter_menu {
    background: url("../image/Footer_bg.svg");
    background-size: cover;
    width: 100%;
    max-width: 576px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 12px 12px;
}
.foter_menu p {
    font-size: 14px;
}
.daimond {
    top: -1.7rem;
    left: -3px;
    right: 0;
    width: min-content;
}
.center_item {
    width: 50px;
}
.center_item p {
    margin-top: 13px;
}
.card_title_conatin {
    padding-right: 110px;
}
.pasa_img {
    margin-top: -40px;
    position: absolute;
    right: 10px;
}
.pasa_img img {
    height: 113px;
}
.green_tick img {
    height: 19px;
}
.profile_img img {
    height: 50px;
}
.amount_lable {
    font-size: 14px;
}
.num_win p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.712);
}
.winamount_lable {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.712);
}
.text-gray {
    color: #828282;
}
.text-bluelight {
    color: #515874;
}
.text_darkred {
    color: #8d3232;
}
.text_darkyellow {
    color: #8a4b22;
}
.winer_chart_rank {
    margin-top: 105px;
}
.chart_winer {
    background: url("https://9987up.co/assets/png/DailyProfitRankStage-ce00a6d6.png")
        no-repeat center center/100% 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.rank_num {
    width: 25px;
    height: 25px;
    border: 2px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 70%);
}
.border_bluelight {
    border-color: #515874;
}
.bg_bluelight {
    background-color: #515874;
}
.border_redlight {
    border-color: #8d3232;
}
.bg_redlight {
    background-color: #ff6464;
}
.border_darkbrown {
    border-color: #8a4b22;
}
.bg_darkbrown {
    background-color: #f49355;
}
.bg_skyblue {
    background-color: #a3acd0;
}
.secnd_profile_chart {
    top: -30px;
}
.first_profile_chart {
    top: -35px;
}
.first_profile_lable {
    top: -25px;
}
.third_profile_chart {
    top: -30px;
}
.crown {
    top: -4px;
    left: 50%;
    transform: translate(-50%, -100%);
}
.win_name {
    font-size: 14px;
}
.text-darkwarning {
    color: #ff8811;
}
.border_gray {
    border-color: rgba(130, 130, 130, 10%);
}
.list_otherrank {
    position: relative;
}
.polygon {
    position: relative;
}
.polygon::after {
    content: url("../image/polygon.png");
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Index 2 */
.dollar_note img {
    height: 70px;
}
.hero_card {
    border: none;
    border-bottom: 5px solid #ebe8e1;
}
.bg_green {
    background-color: #12b45f;
}
.withdraw_btn {
    border: none;
    border-bottom: 5px solid #dc3e3d;
}
.deposite_btn {
    border: none;
    border-bottom: 5px solid #0a9641;
}
.bg_orange {
    background-color: #ffc488;
}
.bg_light_orange {
    background-color: #ffd0a0;
}
.p_12 {
    padding: 12px;
}
.px_9 {
    padding-left: 9px;
    padding-right: 9px;
}
.py_16 {
    padding-top: 16px;
    padding-bottom: 16px;
}
.active_box {
    background-color: white;
    border: none;
    border-bottom: 5px solid #ebe8e1;
}
.text_darkcoffe {
    color: #321c1c;
}
.fun_btn {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 55px;
    height: 55px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg_purple_design {
    background-image: url("../image/purple_bg_dotted.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.bit_box {
    box-shadow: 0px 9px 0px 0px #ebe8e1;
}
.random_btn {
    border: 2px solid #ef4444;
    color: #ef4444;
    position: relative;
    box-shadow: 0px 6px 0px 0px #fcdada;
}
.gap_11 {
    gap: 11px;
}
.btn_x {
    padding: 12px;
    box-shadow: 0px 6px 0px 0px #ebe8e1;
    border: 2px solid #ebe8e1;
    border-radius: 12px;
}
.btn_x_active {
    border: none;
    color: white;
    background-color: #12b45f;
    box-shadow: 0px 6px 0px 0px #0a9641;
}
.btn_big {
    border-radius: 30px 0px 0px 30px;
}
.btn_small {
    border-radius: 0px 30px 30px 0px;
}

/* Histroy */
.active_orange {
    background-color: #ff8811;
    box-shadow: 0px 6px 0px 0px #f17100;
}

.styled-box {
    width: 16px;
    height: 16px;
    background-color: #3498db;
    border-radius: 50%; /* Adjust the radius as needed */
    display: inline-block;
    text-align: center;
    line-height: 16px; /* Center content vertically */
    color: white;
    font-size: 12px;
}
/* popup box */
.checkbox_popupbox input {
    position: relative;
    border: 3px solid rgba(50, 28, 28, 10%);
    border-radius: 50% !important;
    background: none;
    cursor: pointer;
    line-height: 0;
    margin: 0 0.6em 0 0;
    outline: 0;
    padding: 0 !important;
    vertical-align: text-top;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
}
.checkbox_popupbox input[type="checkbox"]:checked {
    background-color: #f17100;
    opacity: 1;
    border-color: rgba(50, 28, 28, 10%);
}
.checkbox_popupbox input[type="checkbox"]:focus,
.checkbox_popupbox[type="checkbox"]::before {
    border-color: rgba(50, 28, 28, 10%);
    box-shadow: none !important;
    outline: none;
}
.checkbox_popupbox input[type="checkbox"]:before {
    content: "";
    position: absolute;
    right: 50%;
    top: 50%;
    width: 4px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    margin: -1px 0px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-content {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
}
.modal_size {
    max-width: 550px;
    margin: 0 auto !important;
}
/* Timer box */

.time {
    height: 160px;
    width: 140px;
    font-size: 150px;
    font-weight: 600;
}
.timer_box {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* Promotion */
.invite_link {
    box-shadow: 0px 6px 0px 0px #704b4b;
}
.invite_code {
    background-color: #ff8811;
    font-size: 12px;
    padding: 6px 9px;
}
.promotion_main_box {
    box-shadow: 0px 6px 0px 0px #ebe8e1;
}
.promotion_box {
    max-width: 141px;
}
.hr_line {
    width: 2px;
    height: 80px;
    background-color: #f2f2f2;
}

/* Wallet */
.box_chart {
    max-width: 100px;
}
.stroke_blue {
    stroke: #3BAFFF;
    stroke-width: 4;
    fill: none;
}
.stroke_20 {
    stroke: #CEE3F2;
    stroke-width: 4;
    fill: none;
}
.stroke_orange {
    stroke: #FF8811;
    stroke-width: 4;
    fill: none;
}
.stroke_orange_20 {
    stroke: #F5DBC2;
    stroke-width: 4;
    fill: none;
}
.chart_digit {
    position: absolute;
    left: 52%; 
    top: 50%; 
    transform: translate(-50%, -50%);
}
.dotted_round{
    position: absolute;
    left: 0%;
    width: 100%;
    height: 70%; 
}
.max_w_163{
    max-width: 190px;
}
.hr_line_lightgary{
    width: 2px;
    background-color: #E6E6E6;
}
.white_box_point{
    box-shadow: 0px 6px 0px 0px #ebe8e1;
    max-width: 90px;
}
/* Profile */
.id_num{
    background-color: #FF8811;

}
.id_num .divder{
    margin-left: 0px;
    width: 1px;
    background-color: #FFAB58;
    height: 23px; 
}
.safe_icon{
    height: 55px;
}
.wining_info_box{
    box-shadow: 0px 5px 5px 2px #e5e5e5;
}
.feture_game{
    flex: 1;    
}
.gap_12p{
    gap: 12px;
}