@font-face {
    font-family: "Otterco";
    src: url("../font/Otterco-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Otterco";
    src: url("../font/Otterco-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Otterco";
    src: url("../font/Otterco-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Otterco";
    src: url("../font/Otterco-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Otterco";
    src: url("../font/Otterco-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Otterco";
    max-width: 576px;
    margin: 0 auto;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.min-h {
    min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}
p {
    margin-bottom: 0;
}
 a{
    text-decoration: none;
 }
/* Login */
.title_form h1 {
    margin-bottom: 5px;
}

.login_bg_img {
    background-image: url("../image/login_bg.svg");
    padding: 0px 16px;
    padding-top: 28px;
    padding-bottom: 28px;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.vector_img {
    padding-top: 30px;
}
.bg_yellow {
    background-color: #ffcb31;
}
.border_rounded {
    border-radius: 0px 0px 30px 30px;
}
.login_form {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 38px 16px;
    background: white;
    border-bottom: 5px solid #e4e4e4;
    border-radius: 0px 0px 30px 30px;
}
.login_form label {
    font-size: 20px;
}
.iti--allow-dropdown {
    width: 100%;
}
.login_form input {
    padding: 8px 12px;
}

.login_form .form-control:focus {
    border-color: rgba(50, 28, 28, 10%);
}
.login_form input:focus,
.login_form::before {
    /* outline: 2px solid rgba(50, 28, 28, 10%); */
    box-shadow: none !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.forgot {
    font-size: 18px;
    padding-top: 16px;
    color: black;
}
.login_register {
    padding: 40px 16px;
}

.btns {
    padding: 17px 0px;
    border-radius: 12px;
}
.login_btn {
    background-color: #3bafff;
    border: none;
    border-bottom: 5px solid #007acd;
}
.register_btn {
    background-color: #ff8811;
    border: none;
    border-bottom: 5px solid #f17100;
}
/* Register Page */
.row_gap_form {
    row-gap: 23px;
}

.register_bg_img {
    padding: 0px 16px;
    padding-top: 27px;
    padding-bottom: 35px;
    background-image: url("../image/register_bg.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.register_form {
    padding-top: 30px;
    padding-bottom: 35px;
}
.checkbox label {
    font-size: 16px;
}
.checkbox input {
    position: relative;
    border: 3px solid rgba(50, 28, 28, 10%);
    border-radius: 4px;
    background: none;
    cursor: pointer;
    line-height: 0;
    margin: 0 0.6em 0 0;
    outline: 0;
    padding: 0 !important;
    vertical-align: text-top;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
}
.checkbox input[type="checkbox"]:checked {
    background-color: #000000;
    opacity: 1;
    border-color: rgba(50, 28, 28, 10%);
}
.checkbox input[type="checkbox"]:focus,
.checkbox[type="checkbox"]::before {
    border-color: rgba(50, 28, 28, 10%);
    box-shadow: none !important;
    outline: none;
}
.checkbox input[type="checkbox"]:before {
    content: "";
    position: absolute;
    right: 50%;
    top: 50%;
    width: 4px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    margin: -1px 0px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
}

.register_part {
    padding: 30px 16px;
}
/* Forgot */

.forgot_bg_img {
    padding: 0px 16px;
    padding-top: 30px;
    padding-bottom: 35px;
    background-image: url("../image/forgot_bg.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.eye_input {
    height: 100%;
    position: absolute;
    right: 15px;
    transform: translateY(10px);
    top: 0;
}
/* Otp */
.otp_box {
    max-width: 80px;
    width: 100%;
}
/* Home Page */ 
.blue_bg{
    max-width: 576px;
}
.menu{
    width: 100%;
    max-width: 576px;
    z-index: 99;
}
.header{
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 8px solid #e4e4e4;
    border-radius: 0 0 27px 27px;
}
.logo {
     height: 26px;
}
.bell_icon,.download_icon{
    height: 22px;

}
.banner{
    padding-top: 110px;
}
.border_round_banner{
    border-bottom: 8px solid #e4e4e4;
    border-radius:  20px;
    overflow: hidden;
}
.bg_cream{
    background-color: #FBF7EF;
}
.border_dotted{
     background-image: url('../image/dotborder_box.svg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}
.box_img{
    min-height: 50px;
}
.bg_item{
    background-color: #F5EEEC;
}
.item_box{
    border-bottom: 8px solid #e4e4e4;
    border-radius:  20px; 
}
.box{
    width: calc(33.33% - 10px);
} 
.wining_card{
    min-height: 130px;
    padding : 24px 20px;
}
.blue_gradiant{ 
    background: rgb(102,49,255);
    background: linear-gradient(166deg, rgba(102,49,255,1) 0%, rgba(164,49,255,1) 8%, rgba(238,137,255,1) 95%);
}
.shyan_gradiant{
    background: rgb(53,202,255);
background: linear-gradient(313deg, rgba(53,202,255,1) 3%, rgba(53,209,255,1) 6%, rgba(60,132,255,1) 95%);
}
.green_blue_gradiant{
    background: rgb(88,223,215);
background: linear-gradient(313deg, rgba(88,223,215,1) 3%, rgba(84,227,219,1) 6%, rgba(115,248,174,1) 96%);
}
.pink_gradiant{
    background: rgb(240,111,229);
background: linear-gradient(313deg, rgba(240,111,229,1) 53%, rgba(239,112,231,1) 59%, rgba(251,85,149,1) 100%);
}
.yellow_gradint{
    background: rgb(252,221,70);
background: linear-gradient(313deg, rgba(252,221,70,1) 31%, rgba(251,63,63,1) 100%);
}
